#============================================================================#
# [% package %] - [% tagline %]
# [% author %]
# [% license %]
# 
[% FOREACH qline IN quote_lines -%]
# [% qline %]
[% END -%]
# --[% quote_cite %]
#----------------------------------------------------------------------------#
[% FOREACH outline IN q_outlines %]
[% outline -%]
[% END %]
#============================================================================#
__END__
